body {
	margin: 2%;
	font-family: Arial, sans-serif;
}
h1 {
	color: grey;
}
a {
	text-decoration: none;
}
#back {
	border: 1px solid grey;
	height: 40px;
	width: 100px;
	color: white;
	background-color: black;
}
#back:hover {
	color: black;
	background-color: lightgray;
}
.strokah {
	border: 1px solid grey;
	width: 65%;
	background-color: bisque;
	cursor: default;
}
.stroka {
	border: 1px solid grey;
	width: 65%;
}
.stroka:hover {
	background-color: bisque;
	cursor: pointer;
}
	.tabl {
		border: solid grey;
		border-width: 0 thin 0 0;
		display: inline-block;
		padding: 0.5%;
		text-align: center;
	}
		.tabl1 {
			width: 80px;
		}
		.tabl2{
			width: 300px;
			text-align: left;
			padding-left: 5px;
		}
		.tabl3{
			width: 40px;
		}
		.tabl4{
			width: 75px;
			text-align: right;
			padding-right: 15px;
		}
		.tabl5{
			display: inline-block;
			text-align: left;
			padding-left: 5px;
		}
.bottom {
	position: sticky; /* Абсолютное позиционирование */
	left: 40%; /* Положение элемента от правого края */
	bottom: 20px; /* Положение от нижнего края */
	padding: 5px; /* Поля вокруг текста */
	background: #f0f0f0; /* Цвет фона */ 
}
.center {
	margin: auto;
	text-align: center;
	width: 10%;
}
.key {
	display: inline-block;
	border: 1px solid grey;
	padding-left: 5px;
	padding-right: 5px;
	width: 150px;
}
.value {
	display: inline-block;
	border: 1px solid grey;
	padding-left: 5px;
	padding-right: 5px;
	width: 500px;
}
.img {
	width: 675px;
	cursor: pointer;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
}
.img:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}