body {
	margin: 2%;
	font-family: Arial, sans-serif;
	}
a {
	text-decoration: none;
	}
p {
	font-size: 150%;
	text-decoration: none;
	}
.red {
	color: red;
	font-size: 110%;
	
}

/* кнопки */

#about, #schedule, #photo, #nisio, #aikido, #video, #iaido, #qujutsu, #jodo, #japan, #faq, #usefull, #menu1 {
  background: #eee; /* фон кнопки */
  color: #aaa; /* цвет текста */
  width: 100%;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  text-align: left;
  user-select: none; /* убирать выделение текста */
  padding: 2% 2% 2% 2%; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 2px;
  border-color: #fff;
  border-radius: 4px;
  cursor: pointer;
 }
#about:hover, #schedule:hover, #photo:hover, #video:hover, #nisio:hover, #aikido:hover, #iaido:hover, #qujutsu:hover, #jodo:hover, #japan:hover, #faq:hover, #usefull:hover, #menu1:hover {
  background: #ddd; /* фон кнопки */
  color: #333; /* цвет текста */
  width: 100%;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  text-align: left;
  user-select: none; /* убирать выделение текста */
  padding: 2% 2% 2% 2%; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 2px;
  border-color: #fff;
  border-radius: 4px;
  transition: 0.2s;
 }
.articles {
	padding: 2% 2% 2% 2%;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #fff;
	color: #aaa;
	}
.articles:hover {
	padding: 2% 2% 2% 2%;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background: #ddd;
	color: #333;
	transition-delay: 0.1s;
	}
.imgy {
	width: 10%;
	height: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
.imgy:hover {
	width: 10%;
	height: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition-delay: 0.1s;
	}
.imgaiki {
	width: 100%;
	height: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
.imgaiki:hover {
	width: 100%;
	height: auto;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition-delay: 0.1s;
	}
.img1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	}
.sidebar {
	grid-area: sidebar;
	}

.sidebar2 {
	grid-area: sidebar2;
	}

.content {
	grid-area: content;
	}

.header {
	grid-area: header;
	}

.footer {
	grid-area: footer;
	}

.wrapper {
	background-color: #fff;
	color: #123;
	}

.wrapper {
	display: grid;
	grid-row-gap: 2%;
	grid-column-gap: 1%;
	grid-template-areas:
	"header  header  header"
	"sidebar content sidebar2"
	"footer  footer  footer";
	}

@media screen and (max-width: 800px)   {
.wrapper {
	grid-gap: 2px;
	grid-template-areas:
	"header"
	"content"
	"sidebar2"
	"footer"
	"sidebar";
	max-width: 100%;
	border-radius: 1px;
	padding: 2px;
  }
}

@media screen and (min-width: 801px) {
.wrapper {
	grid-row-gap: 2%;
	grid-column-gap: 1.3%;
/*	grid-gap: 3%; */
	grid-template-columns: 15% auto 20%;
	grid-template-areas:
	"header  header  header"
	"sidebar content sidebar2"
	"footer footer footer";
	max-width: 100%;
  }
}

.box {
	background-color: #eee;
	color: #123;
	border-radius: 5px;
	padding: 10px;
	font-size: 150%;
	text-decoration: none;
	}
.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	}
.header {
	background-color: #fff;
	}
.sidebar {
	background-color: #fff;
	}
.content {
	text-align: justify;
	font-size: 120%;
	}

.menu {
  list-style: none;
  line-height: 42px;
  margin: auto;
  padding-left: 0;
  width: 15em;
}

.menu a {
  background: url(icons.png) no-repeat left top;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-left: 3em;
  width: 100%;
}

.menu a:hover {
  margin-left: 1em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.menu li {
  box-shadow: 3px 0 rgba(52,152,219,.2) inset;
  margin-bottom: 5px;
  padding-left: .5em;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}


nav {
  background: rgba(41,128,185,1);
  padding-right: .25em;
  position: absolute;
  left: -18em;
  top: 0;
  padding-top: 5em;
  box-sizing: border-box;
  z-index: 20;
  height: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

nav.active { left: 0; }